{% extends 'base.html.twig' %}

{% block title %}Gogol
{% endblock %}

{% block body %}
	<div class="last-articles-container">
		<div class="container-caroussel">
        </div>
	</div>
{% endblock %}
