{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<ul> 
{% for article in articles %}
    <li>{{article.title}} </li>
    {% for theme in article.content.thematics%}
    <li>{{theme.name}}</li>
    {% endfor %}
{% endfor %}
</ul>
{% endblock %}
